<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <meta charset="utf-8">

    <title>Manipal data</title>

  </head>
  <body onload="if (location.href.indexOf('reload')==-1) {location.replace(location.href+'?reload')}">
    <%=JSON.stringify(jsonData)%>

  </body>
</html>
